/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: dodgerblue;
}

.container{
	width: 500px;
	margin: 50px auto; 
	text-align: center; 
}

.backgroundImage { 
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair; 
}

h1 {
	  font-family: "Rock 3D", system-ui;
}
